# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# VS Code
.vscode/

# Logs
logs/*.log

# SQLite temporary files
*.db-journal

# Ignore actual SQLite database
database/monitoring.db

# Webcam uploads
static/uploads/

# Screenshots
evidence/

# OS files
Thumbs.db
.DS_Store