<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Candidate Dashboard</h1>

    <hr>

    <!-- Flash Messages -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

                <div class="message">
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Candidate Name:  {{ name }} </h2>

    <br>

    <div class="card">

        <h3>Your Details</h3>

        <p>
            <strong>Candidate ID :</strong>
            {{ candidate_id }}
        </p>

        <p>
            <strong>Name :</strong>
            {{ name }}
        </p>

        <p>
            <strong>Email :</strong>
            {{ email }}
        </p>

    </div>

    <br>

    <a href="{{ url_for('exam.exam_page') }}">

        <button>
            Start Online Exam
        </button>

    </a>

    <br><br>

    <a href="{{ url_for('auth.logout') }}">

        <button class="logout-btn">
            Logout
        </button>

    </a>

    <br><br>

    <a href="{{ url_for('home') }}">
        Back to Home
    </a>

</div>

</body>

</html>