<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Online Examination</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="dashboard-container">

    <!-- ========================================= -->
    <!-- Header -->
    <!-- ========================================= -->

    <header class="dashboard-header">

        <h1>Online Monitoring System</h1>

    </header>

    

    <!-- ========================================= -->
    <!-- Top Information -->
    <!-- ========================================= -->

    <section class="top-section">

        <!-- Left -->

        <div class="candidate-card">

            <h2>Candidate Information</h2>

            <p>
                <strong>Candidate Name :</strong>
                {{ name }}
            </p>

            <p>
                <strong>Candidate ID :</strong>
                {{ candidate_id }}
            </p>

        </div>

        <!-- Right -->

        <div class="session-card">

            <h2>Exam Session</h2>

            <div class="session-info">
                <div class="session-item">
                    <h3>Current Date & Time</h3>
                    <p id="current-time"></p>
                </div>
                <div class="session-item">
                    <h3>Session Timer</h3>
                    <p id="session-timer"></p>
                </div>

                

        </div>

    </section>

    

    <!-- ========================================= -->
    <!-- Main Dashboard -->
    <!-- ========================================= -->

    <section class="main-dashboard">

        <!-- Left Side -->

        <div class="monitoring-panel">
            <!---current status-->
            
            <div class="status-bar">
                <strong>Current Status</strong>


                
                <span id="exam-status">
                    {{session_status}}
                </span>
                        
            </div>

            <!-- Face -->

            <div class="monitor-card">

                <h2>Face Monitoring</h2>

                <p>

                    <strong>Face Status :</strong>

                    <span id="face-status">

                        Face Detected

                    </span>

                </p>

                <p>

                    <strong>Face Absence Count :</strong>

                    <span id="absence-count">

                        0

                    </span>

                </p>

            </div>

            <!-- Browser -->

            <div class="monitor-card">

                <h2>Browser Monitoring</h2>

                <p>

                    <strong>Browser Status :</strong>

                    <span id="browser-status">

                        Browser Active

                    </span>

                </p>

                <p>

                    <strong>Focus Loss Count :</strong>

                    <span id="focus-count">

                        0

                    </span>

                </p>

                <p>

                    <strong>Last Focus Loss :</strong>

                    <span id="last-focus-time">

                        --

                    </span>

                </p>

            </div>

        </div>

        

    

        <!-- Webcam -->

        <div class="webcam-panel">
            <h2>Live Webcam</h2>

            <div class="webcam-container">

                <img
                    src="{{ url_for('exam.video_feed') }}"
                    class="webcam-feed"
                    alt="Live Webcam">

                <section class="button-panel">

                    <a href="{{ url_for('exam.start_exam') }}">
                        <button class="control-btn">
                            Start Exam
                        </button>
                    </a>
                    <!-- cooment in if doesnt worl -->
                    <!--<a href="{{ url_for('exam.toggle_exam') }}">
                        <button class="control-btn">
                            Pause / Resume
                        </button>
                    </a>-->
                    <!--removve and considerupper one if not working-->
                    <button
                        class="control-btn"
                        id="toggle-btn"
                        onclick="toggleExam()">

                        Pause / Resume

                    </button>



                    <a href="{{ url_for('exam.end_exam') }}">
                        <button class="control-btn">
                            End Exam
                        </button>
                    </a>

                    
                </section>

            </div>


        </div>

    </section>

    <!-- ========================================= -->
    <!-- Integrity Score -->
    <!-- ========================================= -->

    <section class="integrity-section">

        <div class="monitor-card integrity-card">

            <p class="integrity-line">

                <strong>Integrity Score :</strong>

                <span id="integrity-score">100</span>

                <span id="risk-level">(Excellent)</span>

            </p>

        </div>

    </section>

    

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>